h1 {
    color: blue;
}

/*-----------Navigtion--------*/

nav {
    padding: 10px;
    background-color: dodgerblue;
    text-align: right;
}

/* nav ul {
    float: right;
    clear: both;
} */

nav a{
    padding: 1px;
    display: inline;
    font-size: 25px;
    /* border: 1px solid yellow; */
    text-decoration: none;
}

nav a:link {
    color: black;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color:yellow;
}

/*-----------Gallery--------*/

.gallery {
    margin: 10px 50px;
}

.gallery img {
    width: 250px;
    padding: 5px;
    
}

/*----------Search--------*/

input[type="text"] {
    border: 3px solid blue;
    width: 245px;
    margin: 10% 20%;
    text-align: center;
    color: blue;
}

input::placeholder {
    color: lightgray;
    text-align: center;
}