* {
    box-sizing: border-box;
    /* width: 100%; */
}

body {
    background-image: url(Images/solidRed.jpg);
}

/*-----------Layout--------*/

.grid {
    /* background: whitesmoke; */
    border: 2px solid dodgerblue;
    border-radius: 0.285em;
    /* box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.1); */
    margin: 0 auto;
  }

.item {
    color: gold;
    text-shadow: 0 2px 0 rgba(110,133,156,0.18);
    padding: 0.85em;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 0.3em;
}

.section {
    /* background-color: lightyellow; */
    text-align: center;
    /* padding: 100px; */
    border: 1px dashed dodgerblue;
    /* margin: 0 auto; */
}

/*-----------Heading--------*/

header h1 {
    color: red;
    background-color: black;
    text-align: center;
    margin: 0 auto;
    font-size: 4em;
}

/*-----------Top Cover--------*/

.top_cover {
    padding: 300px;
    /* border: 1px solid white; */
    background:
        /* linear-gradient(transparent, white 95%), */
        url(Images/Restaurant_SceneryB.jpg);
    background-size: cover;
}

.top_cover h1 {
    color: white;
    text-align: center;
}

/*-----------Headline Break--------*/

.headline_break {
    padding: 15px;
    background-color: white;
    color: gray;
    text-align: center;
}

/*-----------Second Cover--------*/

.second_cover {
    padding: 300px;
    background: url(Images/Restaurant_SceneryC.jpg);
    background-size: cover;
}

/*-----------Third Cover--------*/

.third_cover {
    padding: 300px;
    background: url(Images/ChineseFood_WallpaperA.jpg);
    background-size: cover;
}

/*-----------Sections--------*/

.section h1 {
    color: gold;
}

/*-----------About-------*/

.about p {
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    line-height: 1.5;
}

.aboutPic {
    width: 350px;
    height: 425px;
}

/*-----------Menu--------*/

.menu {
    background-color: black;
}

.menu p {
    color: white;
    font-size: 18px;
    
}


/*-----------Food Pictures--------*/

.foodPics {
    width: 280px;
    height: 275px;
}